﻿body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
}
a:visited {
    color: purple;
}

a:hover {
    text-decoration: none;
    color: red;
}
.link{
    border-left:1px dashed double;
}
.code {
    white-space: pre-wrap;
    font-family: 'Source Code Pro', sans-serif;
}
