﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignment2aN01137684.usercontrol.CodeBox" %>
            <asp:DataGrid ID="teacher_code" runat="server" CssClass="code"
                GridLines="None" Width="500px" CellPadding="2" >
                <HeaderStyle Font-Size="Large" BackColor="#999966" ForeColor="White" />
                <ItemStyle BackColor="#1a1d23" ForeColor="#ffffff"/>     
            </asp:DataGrid>

            <asp:DataGrid ID="my_code" runat="server" CssClass="code"
                GridLines="None" Width="500px" CellPadding="2" >
                <HeaderStyle Font-Size="Large" BackColor="#999966" ForeColor="White" />
                <ItemStyle BackColor="#1a1d23" ForeColor="#ffffff"/>     
            </asp:DataGrid>