﻿body {
    padding-top: 10px;
}

.changeheader {
    padding: 10px;
    background-color: darkblue;
    color: burlywood;
}

.changeitem {
    background-color: black;
    margin-left: 10px;
    color: aquamarine;
}
